* {
    image-rendering: pixelated;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    margin: 0px;
    display: grid;
    place-items: center;
}

.root {
    position: relative;
    zoom: 3;
}

.bg {
    position: relative;
    width: 192px;
    height: 128px;
    background-image: url(./img/Sprite-0002.png);  
    /* border: 10px solid green; */
}

.test {
    position: absolute;
    width: 192px;
    height: 128px;
    background-image: url(./img/aligntest.png);
}